.aside {
    border-style: dashed;
    height: 100%;
    width: 100%;
    display: flex;

 div {
    // border: 1px dashed gray;
    // flex: 1 1 auto; /* Size of items defined inside items */
    // text-align: center;
    // padding: 12px;  
 }
}