.aside {
   // border-style: dashed;
   text-align: center;
   height: 100%;
   width: 100%;
   display: inherit;

 div {
    // border: 1px dashed gray;
    // flex: 1 1 auto; /* Size of items defined inside items */
    // text-align: center;
    // padding: 12px;  
 }
}