.main {
    background: white;
    background-image: url(../../assets/geo3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: Abel, Arial, Verdana, sans-serif;
    // border-style: dashed;
    height: 100%;
    width: 100%;

    border-radius: 10px;

}

@media screen and (max-width: 760px) { 
    .main {
    border-radius: 0px;
    }
}